/*
===========================================
|   |   Generic Css

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
===========================================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Heading, Paragarap, Anchor*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

a,p{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}

p{
    color: #000;
}
/*Container, Row, Col*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.row{
   display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
/*
===================================
|   |   Button
===================================
*/
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff; 
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px; 
    transition: background  1s;
}
.btn:hover{
    background: #543434;
}
/*
===================================
|   |   Nav
===================================
*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
#cart{
    height: 30px;
    width: 30px;
}
nav>ul{
    list-style-type: none;
    display: inline-block;
}

nav>ul>li{
    display: inline-block;
    margin-right: 20px;
}
#header{
    background: radial-gradient(#fff,#ffd6d6);
    height: 100vh;
}
/*
===================================
|   |   Hero Img
===================================
*/
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 45px;
    line-height: 50px;
    margin: 25px 0;
    font-weight: 400;
}




































/*
===================================
|   |   Hero Img
===================================
*/

/*
===================================
    Main Color (Orange): #ff523b;
    White              : #fff; 
    Black              : #000;

===================================
*/